/*=================
CSS reset
=================*/

body {
  margin: 0;
  background-color: #282D35;
  overflow: hidden;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/*=================
Header styling
=================*/

.page-header {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #21222A;
  color: #61DAFB;
}

.page-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  margin-left: 20px;
}

.react-logo {
  width: 45px;
}

.react-text {
  font-size: 1.5rem;
  font-weight: 700;
}

/*=================
Main styling
=================*/

.page-main {
  color: white;
  position: relative;
}

.main__header {
  margin-left: 20px;
}

.main__list {
  line-height: 2.3rem;
  margin-left: 20px;
}

.list__item {
  padding-left: 0.5rem;
}

.list__item::marker {
  font-size: 1.6rem;
  color: #61DAFB;
}

.background-logo {
  position: absolute;
  right: -100px;
  top: 10%;
  width: 250px;
}